.b_title {
	font-weight: bold;
}

.b_label {
	font-weight: bold;
}

.b_subheader {
	font-style: italic;
}

.b_content > *:last-child {
	margin-bottom: 0;
}

.b_image {
	margin-inline-end: 10px;
	margin-top: 10px;
}

.b_image--hidden {
	opacity: 0.5;
}
