.b_title {
	font-weight: bold;
}

.b_label {
	font-weight: bold;
}

.b_subheader {
	font-style: italic;
}

.b_content > *:last-child {
	margin-bottom: 0;
}

.b_image {
	margin-inline-end: 10px;
	margin-top: 10px;
}

.b_image--hidden {
	opacity: 0.5;
}

.b_tiles {
	width: 300px;
	display: inline-block;
}

.b_tiles--small {
	width: 200px;
}

.b_tiles--big {
	width: 450px;
}