<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true"
>

<f:if condition="{link.url}">
	<div class="b_link">
		<span class="b_label">{f:translate(key: 'LLL:EXT:backendpreviews/Resources/Private/Language/locallang_db.xlf:link.label')}: </span>{linklabel} 
		({f:if(condition: '{f:uri.typolink(parameter: link.url, language: language)}', then: '{f:uri.typolink(parameter: link.url, language: language)}', else: link.url)})
		<f:if condition="{config}">
			[{f:translate(key: 'LLL:EXT:backendpreviews/Resources/Private/Language/locallang_db.xlf:link.config')}: {config}]
		</f:if>
	</div>
</f:if>

</html>
