<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true"
	xmlns:core="http://typo3.org/ns/TYPO3/Core/ViewHelpers"
	xmlns:be="http://typo3.org/ns/TYPO3/Backend/ViewHelpers"
>
<f:comment>
	<!--
		A full element preview body.
		We render the CType label (if found) or the CType identifier in case there is no "Type" given in the element preview template.
		If there is a "Type" section, we render the value instead, while formatting the section with "b_title".
		If there is a "Fulltype" section in the element template, no rendering takes place for the title at all (use this to
		remove the title including the line break completely, or for your own rendering).
	-->
</f:comment>

<f:be.pageRenderer includeRequireJsModules="{
   0:'TYPO3/CMS/Backendpreviews/CollapsibleContainer'
}" />

<div class="js-collapsible-container" data-uid="{uid}">
	<div style="float: right; margin-top: -5px">
		<button class="btn btn-default js-down btn-sm">
			<core:icon identifier="actions-chevron-bar-down" size="small"/>
		</button>
		<button class="btn btn-default js-up btn-sm" style="display: none;">
			<core:icon identifier="actions-chevron-bar-up" size="small"/>
		</button>
	</div>

	<div class="">
		<f:render section="Fulltype" optional="true">
		<span class="b_title">
			<f:render section="Type" optional="true">
				<f:render partial="Defaults/CTypeLabel" arguments="{_all}"/>
			</f:render>
		</span><br>
		</f:render>
		<f:render section="Subheader" optional="true">
			<f:render partial="Defaults/Subheader" arguments="{_all}" />
		</f:render>
		<f:render section="Fullmain" optional="true">
			<div class="b_content js-colabsible-content">
				<f:render section="Main"/>
			</div>
		</f:render>
		<f:render section="Warnings" optional="true"/>
	</div>

</div>



</html>

