<html
	xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	data-namespace-typo3-fluid="true"
>

<f:if condition="{items} < 1">
	<f:switch expression="{type}">
		<f:case value="image">
			<f:render partial="Warnings/Message" arguments="{type: 'error', key: 'warnings.noImage'}" />
		</f:case>
		<f:case value="asset">
			<f:render partial="Warnings/Message" arguments="{type: 'error', key: 'warnings.noAsset'}" />
		</f:case>
		<f:defaultCase>
			<f:render partial="Warnings/Message" arguments="{type: 'error', key: 'warnings.noItem'}" />
		</f:defaultCase>
	</f:switch>
</f:if>

</html>
