name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        TYPO3: [ '12', '13', '14' ]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Set up PHP Version
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          tools: composer:v2

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: dependencies-composer-${{ hashFiles('composer.json') }}

      - name: Install composer dependencies TYPO3 14
        if: matrix.TYPO3 == '14'
        run: |
          composer install --no-progress --no-interaction
      - name: Install composer dependencies TYPO3 13
        if: matrix.TYPO3 == '13'
        run: |
          composer require typo3/cms-core:^13.4 typo3/cms-fluid:^13.4 --no-progress --no-interaction --dev -W
      - name: Install composer dependencies TYPO3 12
        if: matrix.TYPO3 == '12'
        run: |
          composer require typo3/cms-core:^12.4 typo3/cms-extbase:^12.4 typo3/cms-fluid:^12.4 --no-progress --no-interaction --dev -W
      - name: Phpcsfix
        run: .Build/bin/php-cs-fixer fix --config=Build/php-cs-fixer.php --dry-run --stop-on-violation --using-cache=no
      - name: Phpstan 13
        if: matrix.TYPO3 == '13'
        run: .Build/bin/phpstan analyze -c Build/phpstan13.neon
      - name: Phpstan 14
        if: matrix.TYPO3 == '14'
        run: .Build/bin/phpstan analyze -c Build/phpstan.neon
      - name: Phpstan 12
        if: matrix.TYPO3 == '12'
        run: .Build/bin/phpstan analyze -c Build/phpstan12.neon